# Dataset test : raw + preproccessed

In [34]:
import pandas as pd
import numpy as np
import pickle

dataset = "../../data/raw/dataset_test.csv"
# prend en paramètre le dataset et créer un fichier house.csv avec ce format : Index,Hogwarts House

data = pd.read_csv(dataset)
data

,Index,Hogwarts House,First Name,Last Name,Birthday,Best Hand,Arithmancy,Astronomy,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Care of Magical Creatures,Charms,Flying
0,0,NaN,Rico,Sargent,2001-10-06,Right,41642.0,696.096071,3.020172,-6.960961,7.996,-365.151850,393.138185,4.207691,1046.742736,3.668983,0.373853,-244.48172,-13.62
1,1,NaN,Tamara,Shackelford,1998-01-08,Left,45352.0,-370.844655,2.965226,3.708447,6.349,522.580486,602.853051,6.460017,1048.053878,8.514622,0.577432,-231.29200,-26.26
2,2,NaN,Staci,Crandall,1998-09-15,Left,43502.0,320.303990,-6.185697,-3.203040,4.619,-630.073207,588.071795,-5.565818,936.437358,1.850829,-1.647150,-252.99343,200.15
3,3,NaN,Dee,Gavin,2001-05-10,Right,61831.0,407.202928,4.962442,NaN,NaN,-449.179806,427.699966,NaN,1043.397718,4.656573,1.164708,-244.01660,-11.15
4,4,NaN,Gregory,Gustafson,1999-02-01,Right,NaN,288.337747,3.737656,-2.883377,4.886,-449.732166,385.712782,2.876347,1051.377936,2.750586,0.102104,-243.99806,-7.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,NaN,Maria,Kidwell,1999-02-06,Left,45857.0,-554.181932,-5.647655,5.541819,-3.799,-591.764651,392.973420,7.048482,1047.648405,10.408749,1.882786,-248.39978,-94.89
396,396,NaN,Frederic,Koonce,1997-11-11,Left,51842.0,632.233530,6.754862,-6.322335,3.294,-221.848397,319.360250,3.921402,1035.681313,-0.169741,-1.074303,-246.87982,-15.53
397,397,NaN,Eugene,Peralta,1998-11-14,Right,61982.0,292.108738,5.234530,-2.921087,4.230,-787.036050,433.259967,3.898160,1069.794110,6.495579,-2.286537,-244.01333,1.25
398,398,NaN,Allan,Bentley,1998-10-13,Left,56020.0,-726.418553,6.735582,7.264186,3.908,511.960762,613.391514,7.244499,1042.058804,7.554259,-0.788817,-228.24290,-18.27
399,399,NaN,Clarence,Pope,1999-07-26,Left,46452.0,-735.939727,7.224872,NaN,2.889,NaN,513.457470,3.095942,1035.331589,0.477165,0.975627,-230.70067,-8.78

In [36]:
def standardize(x):
    means = np.mean(x, axis=0)
    stds = np.std(x, axis=0)

    stds[stds == 0] = 1
    return (x - means) / stds

def impute_missing_values(df):
    return df.apply(lambda col: col.fillna(col.mean()), axis=0)

test_data = standardize(impute_missing_values(data.drop(columns = ['First Name', 'Last Name', 'Birthday', 'Best Hand', 'Index', 'Astronomy', 'Arithmancy', 'Care of Magical Creatures', 'Hogwarts House'])))

test_data

,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Charms,Flying
0,0.328317,-1.269178,1.188731e+00,-2.954130e-01,-1.022805,0.324057,0.355048,-0.664301,-0.149216,-0.389068
1,0.317281,0.839047,7.617148e-01,1.513413e+00,1.063759,0.853772,0.384405,0.862810,1.364013,-0.522027
2,-1.520663,-0.526630,3.131789e-01,-8.352116e-01,0.916692,-1.974534,-2.114761,-1.237296,-1.125747,1.859560
3,0.718418,0.000000,-1.151387e-16,-4.666268e-01,-0.678932,0.000000,0.280150,-0.353061,-0.095854,-0.363086
4,0.472422,-0.463467,3.824038e-01,-4.677522e-01,-1.096685,0.010943,0.458833,-0.953736,-0.093727,-0.320695
...,...,...,...,...,...,...,...,...,...,...
395,-1.412599,1.201313,-1.869350e+00,-7.571549e-01,-1.024445,0.992170,0.375326,1.459748,-0.598727,-1.243939
396,1.078422,-1.142989,-3.035293e-02,-3.420696e-03,-1.756861,0.256726,0.107375,-1.874082,-0.424345,-0.409159
397,0.773067,-0.470918,2.123231e-01,-1.155036e+00,-0.623612,0.251259,0.871183,0.226506,-0.095479,-0.232651
398,1.074550,1.541644,1.288384e-01,1.491775e+00,1.168612,1.038271,0.250171,0.560150,1.713830,-0.437981
399,1.172823,0.000000,-1.353570e-01,-5.791152e-17,0.174315,0.062589,0.099545,-1.670208,1.431855,-0.338156

# Dataset train (for sklearn) : raw + preproccessed

In [ ]:
train_dataset = "../../data/raw/dataset_train.csv"

data = pd.read_csv(train_dataset)
train_data = standardize(impute_missing_values(data.drop(columns = ['Hogwarts House', 'First Name', 'Last Name', 'Birthday', 'Best Hand', 'Index', 'Astronomy', 'Arithmancy', 'Care of Magical Creatures'])))
y_true = {
    'gryffindor': (data['Hogwarts House'] == 'Gryffindor').astype(int),
    'slytherin': (data['Hogwarts House'] == 'Slytherin').astype(int),
    'ravenclaw': (data['Hogwarts House'] == 'Ravenclaw').astype(int),
    'hufflepuff': (data['Hogwarts House'] == 'Hufflepuff').astype(int)
}

# Predict

### Load theta train

In [37]:
store_filename_theta = "../../results/models/logistic_regression_model.pkl"

def load_theta_train():
    with open(store_filename_theta, 'rb') as handle:
        result = pickle.load(handle)
    print("Theta_train loaded:", result)
    return result

theta_train = load_theta_train()

Theta_train loaded: {'gryffindor': array([-4.33986305, -2.81236904,  0.32162369,  2.53884696, -0.05762629,
       -0.20154119,  2.03864934, -0.08072908, -0.4426122 , -0.62673807,
        4.69318974]), 'slytherin': array([-4.36457226, -0.494533  ,  2.35648032, -1.80526689, -0.20336486,
       -0.33225169, -0.34319646,  1.26958851,  0.93273603, -1.90656142,
       -0.68931936]), 'ravenclaw': array([-2.66746801,  1.06449696,  1.24385512, -0.00329548,  0.98155079,
        1.68591293, -0.59009772, -0.51068742, -0.23063019,  1.52588192,
       -0.88753755]), 'hufflepuff': array([-2.67133834,  2.17681021, -2.85839975,  0.82741128, -1.68766982,
       -1.81318867,  0.04849494, -0.58533284, -0.3415893 , -0.0028772 ,
       -1.72085173])}

### Hypothesis
The hypothesis function for logistic regression is defined as follows
With theta represents the weights of the features and x represents the features of the sample.

In [38]:
def hypothesis(x, theta):
    return 1 / (1 + np.exp(-x @ theta))

### Predict function

In [39]:
def predict(x, theta):
    bias = np.ones((x.shape[0], 1))
    x_bias = np.hstack([bias, x])
    probabilities = {
        'gryffindor': hypothesis(x_bias, theta['gryffindor']),
        'slytherin': hypothesis(x_bias, theta['slytherin']),
        'ravenclaw': hypothesis(x_bias, theta['ravenclaw']),
        'hufflepuff': hypothesis(x_bias, theta['hufflepuff'])
    }
    return pd.DataFrame(probabilities)

predictions = predict(test_data, theta_train)

predictions

     gryffindor  slytherin  ravenclaw  hufflepuff
0      0.037808   0.000124   0.002432    0.996707
1      0.004931   0.002954   0.974316    0.000403
2      0.998574   0.000389   0.006341    0.002234
3      0.000450   0.019077   0.032578    0.816495
4      0.003549   0.002923   0.007178    0.967264
..          ...        ...        ...         ...
395    0.000185   0.998544   0.002319    0.002195
396    0.000421   0.000520   0.002561    0.999392
397    0.001326   0.014424   0.005483    0.968895
398    0.000291   0.009293   0.997432    0.000150
399    0.000065   0.000165   0.839932    0.633370

[400 rows x 4 columns]

### Comparaison with Sklearn

In [ ]:
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score

sgd = SGDClassifier(loss='log_loss', learning_rate='constant', max_iter=100, tol=1e-7, random_state=42, eta0=0.1)
sgd.fit(train_data, y_true['gryffindor'])

binaray_predictions = accuracy_score(sgd.predict(test_data, theta_train['gryffindor'].apply(lambda x: 1 if x > 0.5 else 0)))
print(accuracy_score(sgd.predict(test_data), binaray_predictions))

## Store result in house.csv

In [40]:
store_result_filename = "../../data/trained/house.csv"


predictions_filtered = predictions.idxmax(axis=1).reset_index()
predictions_filtered.columns = ['Index', 'Hogwarts House']
predictions_filtered.to_csv(store_result_filename, index=False, header=['Index', 'Hogwarts House'])
predictions_filtered

     Index Hogwarts House
0        0     hufflepuff
1        1      ravenclaw
2        2     gryffindor
3        3     hufflepuff
4        4     hufflepuff
..     ...            ...
395    395      slytherin
396    396     hufflepuff
397    397     hufflepuff
398    398      ravenclaw
399    399      ravenclaw

[400 rows x 2 columns]